rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pokemonSales/{document=**} {
      allow read, write: if true;
    }

    match /salesHistory/{document=**} {
      allow read, write: if true;
    }
  }
}
